@inherits LayoutComponentBase

<div class="page">
    <main>
        <Toast/>
        <div class="top-row px-4">
            <h4 class="mb-0">Systém správy knih</h4>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Došlo k neočekávané chybě.
    <a href="." class="reload">Obnovit</a>
    <span class="dismiss">🗙</span>
</div>