<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Připojování k serveru...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Připojení selhalo... další pokus za <span id="components-seconds-to-next-attempt"></span> sekund.
        </p>
        <p class="components-reconnect-failed-visible">
            Připojení selhalo.<br/>Zkuste to znovu nebo obnovte stránku.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Zkusit znovu
        </button>
        <p class="components-pause-visible">
            Relace byla pozastavena serverem.
        </p>
        <p class="components-resume-failed-visible">
            Obnovení relace selhalo.<br/>Zkuste to znovu nebo obnovte stránku.
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            Obnovit
        </button>
    </div>
</dialog>